
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: #212529;
  background-color: #fff;
}
.center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}


ul.list-unstyled {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}


.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.horizontal-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-form .form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.horizontal-form .form-control {
  width: 300px;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.horizontal-form .form-submit {
  text-align: center;
  width: 100%;
}

/* Estilo del botón */
.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #d40f69;
  border-color: #d40f69;
}
